{% extends 'base/base_home.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
	.demopara {
  		line-height: 2 ;
  		text-align: justify;
	}
	p{
		color: black;
		font-size: 17px;
	}
	.image{
		background-image: url(static/images/ronaa.jpg); 
		background-repeat: no-repeat;
	 	background-attachment: fixed;
	  	background-size: cover;
	}
	h3{
		text-align: center;
	}

</style>

<div class="image" style="">
	<div class="container-fluid">
			
		<div class="col-xs-1 center-block">

				<div class="card-body" style="text-align:center;">

					<h3><b>Coronavirus disease</b></h3>
					<p class="demopara">
						Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.
						Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment. However, some will become seriously ill and require medical attention.
					</p>

					<hr>

					<h3><b>How it spreads</b></h3>

					<p class="demopara">
						
						The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols.
						You can be infected by breathing in the virus if you are near someone who has COVID-19, or by touching a contaminated surface and then your eyes, nose or mouth. The virus spreads more easily indoors and in crowded settings.
					</p>

					<h3><b>Corona symptoms</b></h3>

					<p class="demopara" style="text-align:center;">
						<b>Most common symptoms:</b>
					</p>

					<p>
						fever,
						cough,
						tiredness,
						 and loss of taste or smell.
					</p>

					<p class="demopara" style="text-align:center;">
						<b>Less common symptoms:</b>
					</p>

					<p>
						sore throat,
						headache,
						aches and pains,
						diarrhoea,
						a rash on skin, or discolouration of fingers or toes and
						red or irritated eyes.
					</p>

					<p class="demopara" style="text-align:center;">
						<b>Serious symptoms:</b>
					</p>

					<p>
						difficulty breathing or shortness of breath,
						loss of speech or mobility, or confusion and
						chest pain.
					</p>







					
				</div>
			</div>
			
	</div>

	<hr>

	<div class="card-body">
		<p style="text-align: center;">Created by Francis Odero (GIS Web Developer)</p>
		<p style="text-align: center;">francisodero10@gmail.com copyright &copy; 2022.All rights reserved</p>
		<p style="text-align: center;">Contact : 0791061506 </p>
	</div>
</div>

<br>






{% endblock %}
	