<hr>

<div class="card card-body">
			<div class="col-md-12">
				<div style="text-align:center;padding:1em 0;"> <h3><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/en/timezone/africa--nairobi"><span style="color:gray;">Current local time in</span><br />Africa/Nairobi</a></h3> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=Africa%2FNairobi" width="100%" height="115" frameborder="0" seamless></iframe> </div>
			</div>
		</div>